.flex {
  display: flex;
  display: -ms-flexbox;
}

.a_j__center {
  align-items: center;
  justify-content: center;
}

.flex__column {
  flex-direction: column;
  -ms-flex-direction: column;
}

/** HERO SECTION ***********/

.hero__section {
  width: 100%;
  min-height: 90vh;
  padding: 2rem 4vw;
  position: relative;
}

.hero__section h1,
.hero__section h2 {
  text-align: center;
}

.hero__section h1 {
  font-size: 9rem;
  width: 900px;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  margin-bottom: 2rem;
  font-weight: 600;
  color: rgb(21, 21, 21);
  margin-top: 3rem;
}

.hero__section h2 {
  font-size: 3rem;
  color: rgb(74, 74, 74);
}

.hero__section button {
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background: var(--main-color);
  color: #fff;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.hero__section button:hover,
.hero__section button:focus-within {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.btn__group {
  gap: 1rem;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  padding-top: 5rem;
}

.btn__group a:nth-child(2) button {
  border: 1px solid var(--main-color);
  background: transparent;
  color: var(--main-color);
}

/** INFO SECTION *********/

.section {
  padding: 3rem 4vw;
  min-height: 70vh;
}

.section .head {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -ms-flex-direction: column;
}

.section .head h2 {
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: #ffa200; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffa200,
    #ff0000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffa200,
    #ff0000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 2rem;
}

.section .head h4 {
  font-size: 2.5rem;
  margin: 2rem 0;
  width: 700px;
  margin-bottom: 0;
}

.info {
  background: rgb(124, 18, 11);
  background: linear-gradient(
    90deg,
    rgba(124, 18, 11, 1) 0%,
    rgba(217, 136, 14, 1) 35%,
    rgba(255, 111, 0, 1) 100%
  );
  min-height: 50vh;
  width: 100%;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}

.info.rotated {
  background: #fff;
}

.cards {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 600px;
  padding: 4rem 0;
  gap: 2rem;
}

.cards img {
  width: 600px;
  height: 400px;
}

.cards h2 {
  font-size: 6rem;
  color: #fff;
  line-height: 1.2;
}

.cards p {
  color: #f2f2f2;
  font-size: 2rem;
  margin-top: 2rem;
  line-height: 1.3;
}

.cards button {
  margin-top: 5rem;
  border: none;
  cursor: pointer;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  font-size: 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.cards button:hover,
.cards button:focus-within {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.cards .text__content {
  justify-content: center;
}

.text__content.rotated h2 {
  color: var(--gray-color);
}

.text__content.rotated p {
  color: var(--gray-color);
}

.text__content.rotated button {
  background: var(--main-color);
  color: #fff;
}

.animated__layout {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 3rem 0;
  padding-top: 7rem;
  position: relative;
  width: 100%;
}

.animated__layout > div {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  min-height: 40vh;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0 1rem;
}

.animated__layout > div h5 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--gray-color);
  margin-top: 1rem;
  font-weight: 500;
}

.animated__layout > div h2 {
  font-size: 3rem;
  color: var(--gray-color);
  font-weight: 500;
}

.animated__layout > div img,
.selected__content img {
  height: 320px;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  margin-top: 1rem;
  border-radius: 15px;
}

.selected__content img {
  height: 400px !important;
  margin-top: 0;
}

.selected__content {
  position: absolute;
  width: 700px;
  height: 422px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.selected__content > div {
  min-height: 100%;
}

.selected__content button {
  border: none;
  background: transparent;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.form {
  padding: 2rem 1rem;
  width: 600px;
  margin-top: 4rem;
  border-radius: 20px;
}

.form div {
  width: 100%;
}

.form input {
  padding: 1.3rem 1rem;
  font-size: 2rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  outline: none;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

.form input:focus,
.form input:focus-within {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.form button {
  padding: 1.3rem 2rem;
  font-size: 2rem;
  border: 1px solid var(--main-color);
  background: transparent;
  color: var(--main-color);
  border-radius: 3px;
  margin-top: 1rem;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.form button:hover,
.form button:focus-within {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

@media screen and (max-width: 950px) {
  .hero__section h1 {
    width: 100%;
    font-size: 6.5rem;
  }
  .cards h2 {
    font-size: 5.5rem;
  }
  .cards {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
  }
}

@media screen and (max-width: 750px) {
  .hero__section h1 {
    font-size: 6rem;
  }
  .cards h2 {
    font-size: 5rem;
  }
  .section .head h4,
  .selected__content {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .hero__section h1,
  .section .head h2 {
    font-size: 5rem;
  }
  .cards h2 {
    font-size: 4.5rem;
  }
  .hero__section h2 {
    font-size: 2.5rem;
  }
  .cards p {
    font-size: 1.5rem;
  }
  .cards img,
  .form {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 550px) {
  .hero__section h1,
  .section .head h2,
  .cards h2 {
    font-size: 4rem;
  }
  .hero__section h2 {
    font-size: 2rem;
  }
  .hero__section button {
    padding: 1rem 2rem;
    font-size: 1.8rem;
  }
  .animated__layout {
    grid-template-columns: 1fr;
  }
}
