.flex {
  display: flex;
  display: -ms-flexbox;
}

.a_j__center {
  align-items: center;
  justify-content: center;
}

.flex__column {
  flex-direction: column;
  -ms-flex-direction: column;
}

/** HERO SECTION ***********/

.hero__section {
  width: 100%;
  min-height: 90vh;
  padding: 2rem 4vw;
}

.hero__section h1,
.hero__section h2 {
  text-align: center;
}

.hero__section h1 {
  font-size: 7rem;
  width: 900px;
  line-height: 1;
  margin-bottom: 2rem;
  font-weight: 500;
  color: rgb(21, 21, 21);
  margin-top: 3rem;
}

.hero__section h2 {
  font-size: 3rem;
  color: rgb(74, 74, 74);
}

.hero__section button {
  padding: 1.3rem 2rem;
  border-radius: 3px;
  background: var(--main-color);
  color: #fff;
  font-size: 1.8rem;
  border: none;
  margin-top: 4rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.hero__section button:hover,
.hero__section button:focus-within {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.btn__group {
  gap: 1rem;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.btn__group a:nth-child(2) button {
  border: 1px solid var(--main-color);
  background: transparent;
  color: var(--main-color);
}

/** INFO SECTION *********/

.section {
  padding: 3rem 4vw;
}

.section .head h2 {
  font-size: 6rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.info {
  background: rgb(124, 18, 11);
  background: linear-gradient(
    90deg,
    rgba(124, 18, 11, 1) 0%,
    rgba(217, 136, 14, 1) 35%,
    rgba(255, 111, 0, 1) 100%
  );
  min-height: 50vh;
  width: 100%;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}

@media screen and (max-width: 950px) {
  .hero__section h1 {
    width: 100%;
    font-size: 6.5rem;
  }
}

@media screen and (max-width: 750px) {
  .hero__section h1 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 650px) {
  .hero__section h1,
  .section .head h2 {
    font-size: 5rem;
  }
  .hero__section h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 550px) {
  .hero__section h1,
  .section .head h2 {
    font-size: 4rem;
  }
  .hero__section h2 {
    font-size: 2rem;
  }
  .hero__section button {
    padding: 1rem 2rem;
    font-size: 1.8rem;
  }
}
