.components {
  min-height: 100vh;
  width: 100%;
}

.grid__layout {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0 4vw;
  padding-bottom: 5rem;
}

.hero {
  padding: 2rem 4vw;
}

.hero h2 {
  font-size: 5rem;
  color: var(--gray-color);
  margin-top: 8.5rem;
  font-weight: 500;
  line-height: 1;
}

.tabs {
  padding: 2rem;
  position: relative;
  background: #f3f3f3;
  width: 100%;
  border-radius: 10px;
  padding-bottom: 6rem;
}

.tabs h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.headline h2 {
  font-size: 16px;
  padding: 0.8rem;
  border-radius: 3px;
  background: var(--gray-color);
  color: #fff;
  width: fit-content;
  margin-bottom: 2rem;
}

.btn__component {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  gap: 2rem;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
}

.links {
  margin-top: 5rem;
  position: absolute;
  bottom: 20px;
}

.links a {
  border-radius: 3px;
  color: var(--secondary-color);
  font-size: 1.8rem;
  text-decoration: underline;
}

.content h2 {
  font-size: 18px;
}

@media screen and (max-width: 750px) {
  .grid__layout {
    grid-template-columns: 1fr;
  }
  .hero h2 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 400px) {
  .hero h2 {
    font-size: 3rem;
  }
}
