/* NAVBAR STYLES ***********/

.flex {
  display: flex;
  display: -ms-flexbox;
}

.a_j__center {
  align-items: center;
  justify-content: center;
}

.navbar {
  padding: 2rem 4vw;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 1px #d4d4d4;
  -webkit-box-shadow: 0 0 10px 1px #d4d4d4;
  gap: 1rem;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 9999;
}

.navbar__logo h4 {
  font-size: 3rem;
  color: var(--main-color);
  font-weight: 500;
}

.navbar__menu {
  gap: 3rem;
}

.navbar__menu li a {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  padding: 0.8rem 0;
  border-radius: 3px;
  font-size: 1.85rem;
  color: var(--gray-color);
  font-weight: 500;
  transition: 0.2s ease-in-out;
  position: relative;
  -webkit-transition: 0.2s ease-in-out;
  outline: none;
}

.navbar__menu li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 50%;
  height: 3px;
  background: rgb(50, 50, 50);
  border-radius: 35px;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

.navbar__menu li a svg {
  margin-right: 1rem;
}

.navbar__menu li a:hover::before,
.navbar__menu li a:focus-within::before,
.navbar__menu li.active a::before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}

.navbar__menu__toggler {
  display: none;
}

/* FOOTER STYLES ***********/

.footer__details {
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4vw;
  background: var(--gray-color);
  gap: 1rem;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.footer__details h4 {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 675px) {
  .navbar__menu {
    display: block;
    position: absolute;
    left: -100vw;
    top: 8rem;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4vw;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
  }

  .navbar__menu.show {
    left: 0;
  }

  .navbar__menu li a {
    margin-bottom: 1.5rem;
  }

  .navbar__menu__toggler {
    display: block;
  }
}
